<div class="modal-content">
    <div class="forms">
        <form>
            <div class="modal-body">
            <div class="form-group">
                <label>Title</label><br>
                <input ng-model="editTodoListController.todo_list.title" value="" style="width: 100%"
                          required="required" minlength="3" type="text" aria-multiline="true"></input>
            </div>
                </div>
            <div class="modal-footer">
            <button name="button" class="btn btn-default" ng-click="editTodoListController.editTodoList()">Update Todo
                list
            </button>
            </div>
        </form>
    </div>
</div>